networks:
  webtermi_network:
    external: true

services:
  backend:
    stdin_open: true
    tty: true
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - webtermi_network
    ports:
      - "1323:1323"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
