networks:
  webtermi_network:
    external: true

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - webtermi_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
